<h1>Registruoti vartotojai</h1>
<table class="table">
    <thead>
        <tr>
            <th>Vardas</th>
            <th>Pavarde</th>
            <th>Pastas</th>
            <th>Slaptazodis</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
            <tr>
                <td>{{vardas}}</td>
                <td>{{pavarde}}</td>
                <td>{{pastas}}</td>
                <td>{{slaptazodis}}</td>
                <td>
                    <a href="/delete-user/{{@key}}" class="btn btn-danger">Istrinti</a>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>