<h1>Naujausi irasai</h1>

{{!-- {{stringas}}
<br>
{{skaicius}} --}}
<div class="row">
    {{#each posts}}
        <div class="col-4">
            <img src="{{photo}}" alt="{{title}}">
            <h3>{{title}}</h3>
            <p>{{excerpt}}</p>
        </div>
    {{/each}}
</div>